h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .current {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: #2196f3;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.header-page {
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-btn__icon {
    fill: #000;
  }
  .burger-btn:hover .burger-btn__icon,
  .burger-btn:focus .burger-btn__icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.header-page {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__icon,
  .mobile-menu__close-btn:focus .mobile-menu__icon {
    fill: #2196f3;
  }
  .mobile-contacts__item {
    margin-bottom: 32px;
  }
  .mobile-contacts__item:last-child {
    margin-bottom: 64px;
  }
  .mobile-contacts_phone_blue {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contacts_mail_grey {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-social__item {
    display: inline;
    align-items: baseline;
  }
  .mobile-social__item:not(:first-child)::before {
    content: ' | ';
    font-size: 24px;
    color: rgba(33, 33, 33, 0.2);
    margin: 0 5px;
  }
  .mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social {
    margin-bottom: 60px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link_theme_light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link_theme_light:hover, .social-list__link_theme_light:focus {
  background-color: #2196f3;
}

.social-list__link_theme_dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link_theme_dark:hover, .social-list__link_theme_dark:focus {
  background-color: #2196f3;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon_theme_light {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon_theme_light:hover, .social-list__icon_theme_light:focus {
  fill: #2196f3;
}

.social-list__link_theme_light:hover .social-list__icon_theme_light,
.social-list__link_theme_light:focus .social-list__icon_theme_light {
  fill: #ffffff;
}

.social-list__icon_theme_dark {
  fill: #fff;
}

.social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .logo_theme_light {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo_theme_light {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo_theme_light {
  display: block;
  color: #000000;
}

.logo_theme_dark {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .nav-list__item {
    margin-bottom: 32px;
    position: relative;
  }
  .nav-list__item:last-child {
    margin-bottom: 302px;
  }
  .nav-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: #2196f3;
  }
}

.nav-list .nav-list__link.current {
  color: #2196f3;
}

.nav-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1119px) {
  .tel-mail__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .tel-mail__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-mail__link:hover, .tel-mail__link:focus {
    color: #2196f3;
  }
  .tel-mail__link-tablet-mail {
    padding-top: 21px;
  }
  .tel-mail__link-tablet-tel {
    padding-bottom: 21px;
  }
  .tel-mail__icon {
    margin-right: 8px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-mail__link:hover .tel-mail__icon,
  .tel-mail__link:focus .tel-mail__icon {
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .tel-mail {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .tel-mail {
    display: flex;
    margin-left: auto;
  }
  .tel-mail__item:not(:last-child) {
    margin-right: 50px;
  }
  .tel-mail__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-mail__link:hover, .tel-mail__link:focus {
    color: #2196f3;
  }
  .tel-mail__icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-mail__link:hover .tel-mail__icon,
  .tel-mail__link:focus .tel-mail__icon {
    fill: #2196f3;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main-page/mobile/main-mob-img.jpg");
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/main-page/tablet/main-tab-img.jpg");
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

.benefits-item {
  width: 450px;
  height: 226px;
}

.benefits-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-item {
    width: 354px;
    height: 251px;
  }
  .benefits-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .benefits-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

.benefits-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .benefits-subtitle {
    text-align: center;
  }
}

.benefits-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1119px) {
  .services {
    display: none;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.services-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.services-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services-label {
  position: absolute;
  bottom: 0;
  padding: 27px 10px;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not-last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .team-img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
  }
  .team-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .team-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.team-wrap {
  padding: 30px 20px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  margin-bottom: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients-link {
    width: 226px;
  }
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-page {
    padding-left: 60px;
    padding-right: 74px;
  }
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .logo-contacts-social {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

.contacts__list:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1119px) {
  .subscribe-input {
    margin-bottom: 20px;
    padding: 16px;
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
  }
}

.subscribe-field {
  position: relative;
}

.subscribe-label {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  min-width: 200px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  box-shadow: none;
}

.subscribe-icon {
  margin-left: 10px;
  vertical-align: middle;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal {
    padding-bottom: 40px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal-btn {
  display: flex;
  margin-left: auto;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-icon {
  padding: 6px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: #2196f3;
}

.modal-form {
  padding: 0 40px;
}

.modal-form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal-label {
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-120%);
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover ~ .modal-label,
.modal-input:focus ~ .modal-label {
  color: #2196f3;
}

.modal-input {
  padding-left: 40px;
  width: 370px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
  border: 1px solid #2196f3;
}

.form-icon {
  position: absolute;
  top: 24%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
  fill: #2196f3;
}

.modal-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 370px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover, .modal-textarea:focus {
  border: 1px solid #2196f3;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:hover + .modal-label,
.modal-textarea:focus + .modal-label {
  color: #2196f3;
}

.form-btn {
  min-width: 200px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
  background-color: #188ce8;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 8px;
  fill: none;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border: none;
  background-size: contain;
  background-origin: border-box;
}

.filter-projects {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.filter-projects-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-projects-item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter-projects-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-projects-btn:hover, .filter-projects-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .projects-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.projects-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  opacity: 1;
  transform: translateY(0);
}

.projects-wrap {
  padding: 20px 24px;
}

.title-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */