.benefits {
    padding-top: 94px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}

.benefits-item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.benefits-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: $secondary-background-color-light;
    border-radius: 4px;
}

.benefits-subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color-theme-light;
}
