.benefits-item {
    width: 450px;
}

.benefits-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background: $secondary-background-color-light;
    border-radius: 4px;
}

.benefits-subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color-theme-light;
}

@media screen and (max-width: 767px) {
    .benefits-subtitle {
        text-align: center;
    }

    .benefits-item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
    .benefits-item {
        width: 354px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0;
        }

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .benefits {
        padding-top: 94px;
        padding-bottom: 0;
    }

    .benefits-item {
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .benefits-wrap {
        width: 270px;
    }
}
