.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color-theme-light;
}

.checkbox-link {
    margin-left: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $primary-accent-color;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;
}

.checkbox-icon {
    margin-right: 8px;
    fill: none;

    border: 2px solid $primary-text-color-theme-light;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox:checked + & {
        background-color: $primary-accent-color;
        border: none;
        background-size: contain;
        background-origin: border-box;
    }
}
