.footer-page {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-background-color-dark;
}

.logo-contacts-social-subscribe {
    display: flex;
    align-items: baseline;
}

.logo-contacts {
    margin-right: 70px;
}
