.logo {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

// .logo {
//     font-family: $secondary-font-family;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
// }

.logo-accent {
    color: $primary-accent-color;
}

.logo_theme_light {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #000000;
}

// .logo_theme_light {
//     display: block;
//     padding-top: 24px;
//     padding-bottom: 24px;
//     margin-right: 94px;
//     color: #000000;
// }

.logo_theme_dark {
    display: block;
    margin-bottom: 20px;
    color: $primary-text-color-theme-dark;
}
