$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
$primary-text-color-theme-light: #212121;
$secondary-text-color-theme-light: #757575;
$primary-text-color-theme-dark: #ffffff;
$primary-accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$primary-background-color: #ffffff;
$secondary-background-color-dark: #2f303a;
$secondary-background-color-light: #f5f4fa;
